XML/Jun152023-1/notes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="memo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="note" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="date" minOccurs="0"/>
              <xs:element type="xs:string" name="hour" minOccurs="0"/>
              <xs:element type="xs:string" name="to"/>
              <xs:element type="xs:string" name="from"/>
              <xs:element type="xs:string" name="heading" minOccurs="0"/>
              <xs:element type="xs:string" name="body"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>